{% extends 'base.html.twig' %}
{% block body %}
    <h1>Utilisateurs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('admin_lieu_reservations_by_user', {'userId': user.id}) }}" class="btn btn-info btn-sm">
                        Voir ses réservations de lieux
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}